body{background:white;
    padding: 0px 0px;
    margin: 0;
    box-sizing:border-box;
   color:#006600;
    
}
nav{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-family: 'poppins',sans-serif;
    background-color: darkcyan;
    
}
.menu a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 10px 20px;
    margin: 0px 5px
}
.menu a:last-child{
    background: #e74c3c;
    border-radius: 5px;
}
.menu a:hover{
    background:#006600;
    border-radius: 5px;
    transition: 0.4s linear;
}
.container{
    width: 100%;
    height:40vh;
    display: flex;
    justify-content: space-between;
    align-items: left;
    padding-left: 10px;
    
}
.left{
    flex-basis: 100%;
}
.right{
    flex-basis: 50%;
}
.right img{
    width: 100%;
    -webkit-box-reflect:below 10 px linear-gradient(transparent,transparent,#0004);
}
.left h1{
    font-size: 3rem;
    line-height: 2rem;
}
.footer{
    text-align: center;
}
.s-icon{
    align-items: center;
}

